%noscript
  .mensaje_error{:style => "margin: 200px 0 400px 0; text-align: center; text-decoration: blink; "}
    %h1 Advertencia
    %h2
    %p Este sistema requiere para su funcionamiento el uso de JavaScript.
    %p Si se encuentra deshabilitado, por favor actívelo.
